<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="favicon.ico"/>
	<title>Cadastrar um novo Produto </title>
	<link rel="stylesheet" type="text/css"
		href="../resources/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css"
		href="../resources/css/main.css">
</head>

<body>

<div id="app" align="center">
  <h4>Cadastro de funcionário</h4>
  <form action="<%= request.getContextPath() %>/" method="post">
   <table style="width: 80%">
    <tr>
     <td>ID do Funcionario</td>
     <td><input type="text" name="id" /></td>
    </tr>
    <tr>
     <td>Nome do Funcionario</td>
     <td><input type="text" name="nome" /></td>
    </tr>
    <tr>
     <td>Setor do Funcionario</td>
     <td><input type="text" name="setor" /></td>
    </tr>
    <tr>
     <td>Salario do Funcionario</td>
     <td><input type="password" name="salario" /></td>
    </tr>
    <tr>
     <td>Email do Funcionario</td>
     <td><input type="text" name="email" /></td>
    </tr>
    <tr>
     <td>Idade do Funcionario</td>
     <td><input type="text" name="idade" /></td>
    </tr>
   </table>
   <input type="submit" value="Submit" />
  </form>
 </div>

<a href="/funcionarios/index.html">Voltar</a>


	<script src="../resources/js/vue.js"></script>
	<script src="../resources/js/axios.min.js"></script>
	<script src="../resources/js/cadastro-de-funcionario.js"></script>
</body>
</html>